.field {
  margin: 10px;
  font-family:inherit;
  font-size: inherit;
}

.field input {
  padding:10px;
  border-radius:10px;
}

.action input {
  padding:10px;
  border-radius:10px;
} 

h1 {
  font-family: "Open Sans";
  font-size: inherit;
}

.login {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}
.login a {
  text-decoration: none;
  padding: 1em;
  color: white;
}

.login a:hover {
     background: #1565C0;
 }
.product {
  position: relative;
}

.product .stock_price_box {
  position: absolute;
  background: gray;
  top: 10px;
  left: 230px;
}
